
body  {  color: darkblue;  /* color  verandert de tekstkleur*/ background-color: lightgrey;}
 wrapper{text-align: center;}
h1 {   font-family: Georgia;}
p {  font-family: Verdana;}
h2 {font-family: Courier;}
td  { font-family: Georgia;}
 td{color: #008B8B}
li{color:#000080}
header{border: 4px solid orange;  border-radius: 20px 0px 20px 0px;}
wrapper { margin: 0 auto 0 auto;width: 960px;}
body {
  background-image: url("FotobehangAmsterdamatnight.jpg");
  background-repeat: no-repeat;
  /* Eerst rechts links, dan boven beneden */
  background-position: right top;
} 
